body {
    margin: 0;
    padding: 0;
}
head {
    color: #FF000F;
    height: 70px;
    width: 100%;
}
footer {
    color: #00ff00;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
}